.container {
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: 180px;
  }
  
  .card {
    width: 25%;
    border: 1px solid skyblue;
    border-radius: 5px;
    box-shadow: 3px 3px 8px #ccc;
    margin: 10px 10px;
    overflow: hidden;
    background-color: white;
    cursor: pointer;
     
  }
  
  .card > img {
    height: 180px;
    width: 100%;
  }
  
  .card > h2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    line-clamp: 2;

    
    margin-inline-end: 0px;
        margin: 0 20px;
            font-weight: 600;
            font-size: 1.25em; 
    
  }
  .card-info {
    margin: 0px 20px;
    font-size: 15px;
    margin-top: 8px;
    
  }
  .card-info :first-child {
     color: #0084ff;
    
  }
  
  .card-info + p {
   
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 10px 20px;
    -webkit-line-clamp: 4;
    color: gray; 
    white-space: pre-wrap;

  }
